.players {
    padding-top: 100px;
}

.player a {
    color: #000 !important;
}

.player a:hover {
    color: #001100 !important;
    text-decoration: none !important;
}

.player {
    border: 1px solid #fff;
    cursor: pointer;
}

.player:hover {
    border: 1px solid #000;
}

.player:nth-child(even) {
    background: rgb(27, 60, 93, 0.2)
}

.player:nth-child(odd) {
    background: rgb(28, 124, 162, 0.2)
}

.last_games {
    padding-top: 5px;
}

.last_games .last_game {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-left: 5px;
    display: block;
    float: left;
}

.last_games .red {
    background: #d6a098
}

.last_games .green {
    background: #97e8ac
}

.last_games .grey {
    background: #D1D1D1
}