{% load static %}
<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-acestats-dark-blue">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'front/img/logo-transparent-white.png' %}" style="width: 100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if menu == 'home' %}active{% endif %}">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item {% if menu == 'players' %}active{% endif %}">
              <a class="nav-link" href="{% url 'players' %}">Players</a>
            </li>
            <li class="nav-item {% if menu == 'interactive' %}active{% endif %}">
              <a class="nav-link" href="{% url 'advance_stats' %}">Interactive Stats</a>
            </li>
            <li class="nav-item {% if menu == 'predictions' %}active{% endif %}">
              <a class="nav-link" href="{% url 'predictions' %}">Predictions</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" autocomplete="off">
            <input class="form-control mr-sm-2" id="searchbox" type="text" placeholder="Search" aria-label="Search">
            <div class="div-search-results"></div>
          </form>
        </div>
      </nav>
    </header>

<script>
  $(".document").ready(function (){
    $("#searchbox").keyup(function (){
      var value = $(this).val();

      if (value != "") {
        $.ajax({
          'data': 'value=' + value,
          'type': 'post',
          'url': '{% url 'api.search' %}',
          'success': function(data) {
            $(".div-search-results").css("display", "block");

            html = '';

            Object.entries(data).forEach(function(element, index, array) {
              html += '<div class="search-result" onclick="document.location=\'/player/' + element[1][0] + '\'">' + element[1][1] + ' (' + element[1][2] + ' - ' +  element[1][3] + ')</div>'
            });

            $(".div-search-results").html(html);
          }
        });
      } else {
        $(".div-search-results").css("display", "none");
      }
    });

    $("#searchbox").blur(function() {
      setTimeout(function(){ $(".div-search-results").css("display", "none"); }, 200);
    });
  })
</script>