{% extends 'base.html' %}

{% block container%}
      <div class="container players">
        <h1>Top 500 ATP players</h1>
        <div class="row">
        {% for player in players %}
          <div class="col-sm-12 player">
          <a href="player/{{ player.id }}">
            <div class="row">
              <div class="col-sm-2">{{ player.rank }}</div>
              <div class="col-sm-6">{{ player.surname }}, {{ player.name }}</div>
              <div class="col-sm-2">{{ player.birthday }}</div>
            </div>
          </a>
          </div>
        {% endfor %}
        </div>
        <div class="row">
        {% if players.has_other_pages %}
          <ul class="pagination">
            {% if players.has_previous %}
              <li><a href="?page={{ players.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in players.paginator.page_range %}
              {% if players.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if players.has_next %}
              <li><a href="?page={{ players.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>
      </div>
  {% endblock %}
