{% extends 'base.html' %}

{% block container%}
  {% load static %}
      <div class="container players">
        <h1>Top 500 ATP players</h1>
        <div class="row" style="padding-bottom: 20px">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-3">Rank / Player</div>
              <div class="col-sm-1">Age</div>
              <div class="col-sm-1">Rank Points</div>
              <div class="col-sm-3">Last trophy</div>
              <div class="col-sm-4">Last 10 games</div>
            </div>
          </div>
        {% for player in players %}
          <div class="col-sm-12 player">
          <a href="player/{{ player.id }}">
            <div class="row">
              <div class="col-sm-3"><div style="width: 20px; text-align:center; display: inline-block">{{ player.rank }}</div>&nbsp;&nbsp;<img src="{% static 'front/img/flags/'|add:player.nationality|add:'.png' %}" width="20px">&nbsp;&nbsp;{{ player.surname }}, {{ player.name }}</div>
              <div class="col-sm-1">{{ player.age }}y</div>
              <div class="col-sm-1">{{ player.points }}</div>
              <div class="col-sm-3">{{ player.last_trophy }}</div>
              <div class="col-sm-4 last_games">
                {% for game in player.last_games %}
                  <span class="last_game {% if 'false' in game|lower %}red{% else %}green{% endif %}" title="
                  vs {{ game.rival }} ({{ game.result }}) in {{ game.tourney }} {{ game.round }} ({{ game.date }})
                  "></span>
                {% endfor %}
              </div>
              <!--<div class="col-sm-3">{{ player.defeat_round }} in {{ player.defeat_tourney }} ({{ player.defeat_date }}) vs {{ player.defeat_rival }} - {{ player.defeat_result }}</div>-->
            </div>
          </a>
          </div>
        {% endfor %}
        </div>
        <!--Pagination-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if movies.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ players.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for i in players.paginator.page_range %}
            {% if players.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if players.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ players.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <!--end of Pagination-->
      </div>
  {% endblock %}
